/* Reset and Body Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

section h2,
#about h2,
#projects h2,
#skills h2,
#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid goldenrod;
  width: max-content;
  margin: 20px auto;
  padding-bottom: 5px;
}

/* Navigation Bar */
#nav-menu {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#nav-menu .hamburger {
  display: none;
}

#nav-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#nav-menu li {
  margin-left: 20px;
}

#nav-menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

#nav-menu a:hover {
  background-color: #444;
  color: tomato;
}

#logo a {
  font-size: 24px;
  font-weight: bold;
}

#logo a:hover {
  color: pink;
}

/* Home Section */
#home {
  /* height: calc(100vh - 80px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(Images/General/leone-venter-VieM9BdZKFo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home_child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

#home_gif {
  height: 300px;
}

#user-detail-name {
  font-size: 2rem;
  filter: drop-shadow(2px 4px 6px rgb(3, 3, 27));
  margin: 1rem 0 0.5rem;
}

#userDet {
  font-size: 1.5rem;
  color: #777;
  filter: drop-shadow(2px 4px 6px rgb(3, 3, 27));
  margin-bottom: 2rem;
}

.home-img {
  border-radius: 50%;
  filter: drop-shadow(2px 4px 6px black);
  height: 200px;
  width: 200px;
}

/* General Section Styles */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  min-height: 100vh;
}


/* About Section */
#about {
  color: #1c8194;
  background-color: #f1f1f1;
  /* Adjusted color for text */
}

.about_para {
  font-weight: bold;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid goldenrod;
  width: 15%;
  margin: 20px auto;
  padding-bottom: 5px;
}


#about p {
  font-size: 1.5rem;
  max-width: 800px;
  line-height: 1.6;
  margin: 0 auto;
  font-family: sans-serif;
  /* Added font family */
}

/* Animation for About Section */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about h2 {
  animation: fadeIn 1s ease-out;
}

#about p {
  animation: fadeIn 2s ease-out;
}



/* Skills Section */
#skills {
  background: url(Images/General/adam-birkett-75EFpyXu3Wg-unsplash.jpg);
}

#skills1 {
  background: url("Images/General/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.skills-card {
  text-align: center;
  color: black;
  font-size: 20px;
  transition: transform 0.2s ease-out;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#skills1-child-div,
#skills-child-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  border-radius: 50px;
}

.skills-card:hover {
  transform: scale(1.1);
}

.skills-card-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

/* Projects Section */
#projects-box,
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background: url("https://colibriwp.com/blog/wp-content/uploads/2019/06/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg");
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.project-description,
.project-tech-stack {
  font-size: 16px;
  margin-bottom: 20px;
}

.project-github-link,
.project-deployed-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #0d6efd;
  transition: all 0.2s ease-in-out;
}

.project-github-link:hover,
.project-deployed-link:hover {
  background-color: #0b5ed7;
}

/* Contact Section */
#contact {
  background-color: #f9f9f9;
}

#contact ul {
  list-style: none;
  line-height: 55px;
  padding: 0;
  text-align: left;
  height: 27rem;
}

#contact li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

#contact li a {
  color: #333;
  text-decoration: none;
}

#contact li i {
  margin-right: 10px;
  font-size: 1.5rem;
  vertical-align: middle;
}

#contact li#contact-phone i {
  color: #1abc9c;
}

#contact li#contact-email i {
  color: #3498db;
}

#contact li#contact-github i {
  color: #333;
}

#contact li#contact-linkedin i {
  color: #0077b5;
}

.contactChild {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

/* GitHub Calendar */
.react-activity-calendar {
  background-color: #f6f8fa;
  padding: 50px 0;
  filter: invert(1);
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.calendar {
  max-width: 800px;
  margin: 0 auto;
}

.git-card img {
  max-width: 100%;
}

.regular {
  text-align: center;
  max-width: 1200px;
  margin: 50px auto 0;
}

.git-card {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

/* Footer */
footer {
  background-color: skyblue;
  text-align: center;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
}

/* Resume Button */
#resume-button-2 {
  text-align: center;
  margin-top: 20px;
}

#resume-button-2 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#resume-button-2 a:hover {
  background-color: #0056b3;
}

/* Form Styles */
.column.right {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}

.column.right .text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

input,
textarea {
  width: 150%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}




#projects {
  background: url("https://colibriwp.com/blog/wp-content/uploads/2019/06/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg")
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
  height: 80%;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(2px 4px 6px black);
}

.project-card img {
  width: 100%;
  max-height: 250px;
  object-position: center;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px;
  text-align: center;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.project-tech-stack {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.project-github-link,
.project-deployed-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #0d6efd;
  transition: all 0.2s ease-in-out;
}

.project-github-link:hover,
.project-deployed-link:hover {
  background-color: #0b5ed7;
}

/* Style for the project card container */
.project-card {
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 500px;
  transition: transform 0.3s ease;
  padding: 30px;
}

/* Style for the project card image */
.project-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Style for the project card title */
.project-card h3.project-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style for the project card description */
.project-card p.project-description {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: sans-serif;
}

/* Style for the project card tech stack */
.project-card p.project-tech-stack {
  font-size: 14px;
  margin-bottom: 10px;
  /* font-weight: bolder; */
  font-family: sans-serif;
}

/* Style for the project card links */
.project-card a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #000;

}

.project-card:hover {
  transform: scale(1.05);
}

#project-card-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(357px, 1fr));
  gap: 20px;

}

/* Media query part */
@media only screen and (min-width: 320px) and (max-width: 480px) {

  section, footer {
    width: 215%;
  }
  /* CSS rules for mobile devices */
  /* Small screen sizes  */
  #nav-menu .hamburger {
    display: block;
    cursor: pointer;
  }

  #nav-menu ul {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #nav-menu ul.active {
    display: flex;
    width: 100%;
  }

  #nav-menu li {
    margin: 10px 0;
  }

  #nav-menu .hamburger .bar {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  #nav-menu .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 4px);
  }

  #nav-menu .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #nav-menu .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
  }

  #project-card-box {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    align-items: center;

    margin: auto;
    background: url("https://colibriwp.com/blog/wp-content/uploads/2019/06/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg")
  }


  #home_child {
    display: flex;
    flex-wrap: wrap;
    margin-top: 148px;
    justify-content: center;
    align-items: center;
  }

  .contactChild {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    margin: auto;
  }

  #contact ul {
    list-style: none;
    margin: 0;
    line-height: 35px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .column.right {
    display: none;
  }

  #skills-child-div, #skills1-child-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    border-radius: 50px;
  }

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  
  section, footer {
    width: 215%;
  }
  /* CSS rules for mobile devices */
  /* Small screen sizes  */
  #nav-menu .hamburger {
    display: block;
    cursor: pointer;
  }

  #nav-menu ul {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #nav-menu ul.active {
    display: flex;
    width: 100%;
  }

  #nav-menu li {
    margin: 10px 0;
  }

  #nav-menu .hamburger .bar {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  #nav-menu .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 4px);
  }

  #nav-menu .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #nav-menu .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
  }

  #project-card-box {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;

    margin: auto;
    background: url("https://colibriwp.com/blog/wp-content/uploads/2019/06/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg")
  }


  #home_child {
    display: flex;
    flex-wrap: wrap;
    margin-top: 148px;
    justify-content: center;
    align-items: center;
  }

  .contactChild {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    margin: auto;
  }

  #contact ul {
    list-style: none;
    margin: 0;
    line-height: 35px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .column.right {
    display: none;
  }

  #skills-child-div, #skills1-child-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    border-radius: 50px;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Optionally show hamburger icon */
  /* section, footer {
    width: 130%;
  } */

  #logo a{
    font-size: 11px;
  }


}

