/* Navigation bar */
#nav-menu {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#nav-menu .hamburger {
  display: none;
}

#nav-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

#nav-menu li {
  margin-left: 20px;
}

#nav-menu a {
  font-family: cursive;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#nav-menu a:hover {
  background-color: #333;
  font-size: large;
  color: tomato;
}


#logo a {
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

#logo a:hover {
  color: pink;
  font-size: 26px;
  background-color: #333;
}

@media (max-width: 768px) {
  #nav-menu .hamburger {
    display: block;
    cursor: pointer;
  }

  #nav-menu ul {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #nav-menu ul.active {
    display: flex;
    width: 100%;
  }

  #nav-menu li {
    margin: 10px 0;
  }
  
  #nav-menu .hamburger .bar {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  #nav-menu .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  
  #nav-menu .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #nav-menu .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
  }
}

/* Home section  */
/* Set the home section to fill the remaining viewport height after the navbar */
#home {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style the user details */
#user-detail-name {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#user-detail-intro {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 2rem;
}

/* Style the home image */
.home-img {
  border-radius: 50%;
  margin-bottom: 1rem;
}


/* Sections */
section {
  padding: 50px;
  text-align: center;
}

#about {
  background-color: #f1f1f1;
}

#skills, #projects, #contact, #resume {
  background-color: #fff;
}

#skills .skills-card,
#projects .project-card {
  margin: 20px;
}

.project-card img {
  width: 100%;
}

/* Buttons */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
 #resume-button-2 {
  background-color: #2196F3;
}

#resume-button-2 {
  display: block;
  margin: 0 auto 50px auto;
}

